nav {
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px 20px;
    
  }
  
  nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  nav button span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: white;
    margin-bottom: 4px;
  }
  
  nav ul {
    list-style: none;
    margin-top : 20px;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s ease;
    padding: 15px 20px;
    border-radius: 5px;
    align-items :center;
  }
  
  /* nav ul li a:hover {
    background-color: white;
    color: #212121;
  } */
  
  /* Style pour le contenu */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 120vh;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left : 50px;
    text-align : center;
    color :white;
  }
  #add-butn{
    position : relative;
    transition : background-color 0.4s ease-in-out;
    color :white;
    cursor : pointer;
    outline : none;
    padding : 15px 25px;

  }
  #add-butn:hover{
    background-color : rgb(87, 140, 232);
  }
  #add-butn:hover::before,
  #add-butn:hover::after{
    position : absolute;
    top : 0;
    left : 0;
    width : 0%;
    height : 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 0.3s ease-in-out;
  }
  #add-butn::before {
    left: -10px;
  }
  
  #add-butn::after {
    right: -10px;
  }
  
  #add-butn:hover::before,
  #add-butn:hover::after {
    width: 50%;
  }

  

  #blog-butn {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    position: relative;
  }
  
  #blog-butn::before,
  #blog-butn::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background-color: aliceblue;
    transition: width 0.3s ease-in-out;
  }
  
  #blog-butn::before {
    left: 0;
  }
  
  #blog-butn::after {
    right: 0;
  }
  
  #blog-butn:hover::before,
  #blog-butn:hover::after {
    width: 50%;
  }
  
 

 